* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #424041;
}
h2,
h3,
label {
  color: white;
}

.success {
  background-color: #94edbe;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  color: rgb(50, 113, 239);
}
.error {
  background-color: #f03238;
  font-size: 20px;
  border: 5px solid black;
  padding: 10px;
  margin-bottom: 10px;
  color: rgb(211, 215, 223);
}

.confirmation {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.confirmation-message {
  margin-bottom: 5px;
}

.confirmation-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.confirmation-button:hover {
  background-color: #45a049;
}
